.container {
  padding: 2%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Raleway', sans-serif !important;
}

.container h1 {
  font-family: 'Lobster', cursive;
  font-size: 26px;
  text-align: center;
  color: #003962;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
}

.list li {
  list-style: none;
  text-align: left;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
}

.list img {
  width: 60px;
  border-radius: 100%;
  vertical-align: middle;
  margin: 0 10px;
  float: left;
}

.list p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif !important;
  margin: 8px 0;
}

.list p span {
  display: inline-block;
  float: right;
}

.list p.bold {
  font-weight: bold;
}
