.container {
  padding: 2%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.container h1 {
  font-family: 'Lobster', cursive;
  font-size: 26px;
  text-align: center;
  color: #003962;
}
