.btnLine {
  width: 100%;
  background-color: #f63249;
}

button + h1 {
  font-family: 'Lobster', cursive !important;
  font-size: 26px !important;
}

.firstLink, .thirdLink {
  background-color: #003962;
  width: 30%;
  margin: 2.5%;
  height: 44px;
  display: inline-block;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  color: white;
  text-align: center;
  line-height: 44px;
  border-radius: 6px;
  font-size: 22px;
}

.firstLink i, .thirdLink i{
  display: inline-block;
  margin: 0px 10px 0px 0px;
  width: 26px;
  height: 32px;
  vertical-align: middle;
  background-image: url('./oeuf.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: center;
}

.thirdLink i{
  width: 36px;
  height: 44px;
  background-image: url('./poule.svg');
}

.firstLink span, .thirdLink span {
  display: inline-block;
}

.secondLink{
  background-color: #ffcc00;
  width: 30%;
  margin: 0;
  height: 44px;
  display: inline-block;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  color: #f63249;
  text-align: center;
  line-height: 44px;
  border-radius: 6px;
  font-size: 24px;
}

.logo {
  display: inline-block;
  margin: 4px 8px 0px 8px;
  width: 26px;
  height: 42px;
  vertical-align: middle;
  background-image: url('./logo.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: center;
}
