.container {
  padding: 2%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Raleway', sans-serif !important;
}

.container h1 {
  font-family: 'Lobster', cursive;
  font-size: 26px;
  text-align: center;
  color: #003962;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
}

.list li {
  list-style: none;
  text-align: left;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
}

.list img {
  width: 60px;
  border-radius: 100%;
  vertical-align: middle;
  margin: 0 10px;
}

.list span {
  display: inline-block;
  text-align: left;
  float: right;
  min-width: 50px;
  padding-top: 19px;
}

.newExpense {
  position: relative;
}

.newExpense p {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  color: green;
  animation-duration: 6s;
  animation-name: tropDeStyle;
  animation-iteration-count: 1;
  font-size: 20px;
  opacity: 0;
}

@keyframes tropDeStyle {
  0% { top: 50px; opacity: 0;}
  40% { top: 0; opacity: 1;}
  60% { top: 0; opacity: 1;}
  100% { top: 50px; opacity: 0;}
}
