.container {
  padding: 2%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Raleway', sans-serif !important;
  padding-top: 80px
}

.container h1 {
  font-family: 'Lobster', cursive;
  font-size: 26px;
  text-align: center;
  color: #003962;
  margin: 0;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
}
